.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 130px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--ui-color-primary); 
  border: 1px solid var(--ui-color-primary); 
  color:  var(--ui-color-text);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);

}
.left-arrow:disabled, .right-arrow:disabled {
  background-color: var(--ui-color-background-disabled); 
  border: 1px solid var(--ui-color-background-disabled); 
  color:  var(--ui-color-color-disabled);

}

.left-arrow {
  left: -24px;
  cursor: pointer;
}

.right-arrow {
  right: -24px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .left-arrow, .right-arrow {
      display: none;
  }
}